/*Esta hoja de estilo pertence al archivo pagina-tres.html*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: "Open Sans";
  color: #262626;
}

.contenedor-dos {
  background-color: rgba(0, 0, 0, .2);
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

img {
  height: auto;
  width: 100%;
}

.nombre {
  font-size: 250%;
  font-weight: bold;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

i {
  color: #333;
}

li {
  margin: 5% 5%;
  font-size: 130%;
}

h2 {
  font-size: 200%;
  margin: 10% 0 10% 10%;;
}

.det {
  width: 80%;
  font-size: 180%;
  text-align: justify;
  margin: 0 auto;
}

.autor {
  font-size: 115%;
  font-weight: bold;
  text-align: center;
  border-top: 2px solid rgba(0, 0, 0, .06);
  margin-top: 10%;
  padding: 3% 0;
}

.bungee, .musico, .docente {
  color: darkcyan;
}

@media screen and (min-width: 1024px) {
  .fondo-izquierdo {
    height: 100%;
    width: 10%;
    float: left;
  }
  
  .datos{
    color: white;
    height: 100%;
    width: 30%;
    float: left;
    background-color: #333;
  }
  
  .mas-detalles {
    background-color: #333;
    color: white;
    height: 100%;
    width: 50%;
    float: left;
    overflow: auto;
  }
  
  .fondo-derecho {
    height: 100%;
    width: 10%;
    float: left;
  }
  
  i {
    color: white;
    transition: all 1.5s ease-in-out;
  }
  
  i:hover {
    transform: scale(1.5);
  }
  
  .perfil {
    display: block;
    height: 400px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 5% auto;
  }
  
  .musico {
    color: white;
  }
  
  h2 {
    margin-bottom: 5%;
  }
  
  .autor {
    font-size: 140%;
    border-top: 2px solid gray;
    padding: 4% 0;
  }
  
  .bungee, .musico, .docente {
    color: gray;
  }
  
  .bungee:hover, .musico:hover, .docente:hover {
    color: white;
  }
}